/* Default Setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Notification
.notification-div {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    transform: translateY(calc(100vh - 10%));
    border-radius: 10px 10px 0 0;
    padding: 15px 10px;
    box-shadow: 0 -3px 1.5px rgba(0,0,0,0.1);
}

.notification-header {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-gap: 10px;
}

.notification-header-div {
    padding: 10px;
}

.notification-header-div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification-line {
    display: block;
    height: 4.5px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 10px;
}

.notification-line:nth-child(2) {
    width: 20px;
    margin-top: 5px;
} */


/* header */

.main-page {
    height: 100vh;
    width: 100vw;
    padding: 12px;
    background-image: url('/assets//bg.png');
    background-position: 100px 0;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 60px;
    width: 68px;
}

.nav-icon {
    height: 28px;
    width: 28px;
}

.header-meta {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.main-page-site-name {
    padding-left: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.videos {
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 20px 0;
}

.videos::-webkit-scrollbar {
    display: none;
}

.videos-holder {
    height: auto;
    width: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.video {
    height: 150px;
    width: 150px;
    background: url('/assets/image-3.jpg');
    border-radius: 20px;
    padding: 10px 20px;
    background-size: cover;
    background-position: center;
}

.video:nth-child(2) {
    background: url('/assets/image-1.jpg');
    background-size: cover;
    background-position: center;
}

.video:nth-child(3) {
    background: url('/assets/image-2.jpg');
    background-size: cover;
    background-position: center;
}

.news-icon {
    height: 30px;
    width: 35px;
}

.title {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.title-text {
    margin-right: 8px;
}

.title-line {
    height: 3px;
    width: 100%;
    background: #000;
}

.news-holder {
    padding-bottom: 55px;
}

.news {
    height: auto;
    width: 100%;
    margin: 15px 0;
}

.news-subtitle {
    font-size: 12px;
    color: grey;
}

.news-media {
    height: 180px;
    width: 100%;
    background: url('/assets/image-3.jpg');
    background-size: cover;
    background-position: center;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
}

.notification-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.notification-bar-header {
    height: 55px;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 10px 0 0;
}


/* set up page */

.first-page {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-image: url('/assets//bg.png');
    background-position: 100px 0;
    background-size: cover;
    display: none;
}

.welcome-message {
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.logo-and-name {
    height: auto;
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-holder {
    margin-right: 10px;
}

.name {
    font-size: 1.3em;
    font-weight: bold;
}

.text {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.inputs {
    margin: 15px 0;
}

.portal-input-text {
    font-size: 13px;
}

.portal-input {
    display: grid;
    grid-template-columns: 30px calc(100% - 30px);
    border: 2.5px solid rgba(128, 128, 128, 0.842);
    padding: 8px;
    margin: 10px 0;
}

.input {
    margin: 15px 0;
}

.search-logo {
    display: flex;
    justify-content: center;
    border-right: none;
    margin-right: 8px;
}

.search {
    border: none;
    background: transparent;
}

.students-list {
    height: 180px;
    width: 100%;
    border: 2.5px solid grey;
    border-radius: 8px;
    margin-top: 25px;
    padding: 10px;
}

.students-list-text {
    width: 100%;
    text-align: center;
    color: grey;
}

.next-div {
    height: 50px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.431);
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}